<div class="bg-gray-50 p-6 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Tableau EBS</h2>
    <div class="flex justify-end gap-4 mb-6">
        <button id="importButton" (click)="openFileUploadPopup()" class="bg-teal-600 text-white px-5 py-3 rounded-lg hover:bg-teal-700 transition-all duration-200">Importer</button>
        <button id="exportButton" (click)="downloadEBS()" [disabled]="isExportLoading" class="bg-blue-600 text-white px-5 py-3 rounded-lg hover:bg-blue-700 transition-all duration-200 flex items-center justify-center gap-2">
            <svg *ngIf="isExportLoading" class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <span>{{ isExportLoading ? 'Export en cours...' : 'Exporter' }}</span>
        </button>
    </div>

    <div class="overflow-x-auto bg-white shadow-lg rounded-lg p-6">
        <div class="search-bar mb-4 flex items-center justify-between">
            <input 
                type="text" 
                id="search" 
                class="border border-gray-300 rounded-md p-2 w-64" 
                [(ngModel)]="searchQuery" 
                (input)="filterData()" 
                placeholder="Entrez un code site..."/>
        </div>
        <table #ebsTable class="min-w-full border-collapse text-sm">
            <thead>
                <tr class="text-white">
                    <th colspan="17" class="py-3 px-4 border bg-teal-600">Information Site</th>
                    
                    <th [attr.colspan]="getRadioColspan()"
                        [ngClass]="{'bg-blue-600': isRadioVisible, 'bg-blue-300': !isRadioVisible}"
                        class="py-3 px-4 border toggle-column"
                        (click)="toggleRadio()">
                        <span>Radio</span>
                    </th>
                
                    <th [attr.colspan]="getTransColspan()"
                        [ngClass]="{'bg-teal-700': isTransVisible, 'bg-teal-400': !isTransVisible}"
                        class="py-3 px-4 border toggle-column"
                        (click)="toggleTrans()">
                        <span>Trans</span>
                    </th>
                
                    <th [attr.colspan]="getEnergieColspan()"
                        [ngClass]="{'bg-blue-600': isEnergieVisible, 'bg-blue-300': !isEnergieVisible}"
                        class="py-3 px-4 border toggle-column"
                        (click)="toggleEnergie()">
                        <span>Énergie</span>
                    </th>
                </tr>                
                               
                <tr class="bg-gray-100 text-gray-700">
                    <th class="py-3 px-6 border">Type projet</th>
                    <th class="py-3 px-6 border">Phase TOA</th>
                    <th class="py-3 px-6 border">Phase YAS</th>
                    <th class="py-3 px-8 border">Date</th>
                    <th class="py-3 px-4 border">Version</th>
                    <th class="py-3 px-4 border">Region</th>
                    <th class="fixed-td py-3 px-8 border">Code Site</th>
                    <th class="py-3 px-12 border">Nom Site</th>
                    <th class="py-3 px-4 border">Demandeur</th>
                    <th class="py-3 px-8 border">Longitude</th>
                    <th class="py-3 px-8 border">Latitude</th>
                    <th class="py-3 px-8 border">Priorite</th>
                    <th class="py-3 px-8 border">Zone</th>
                    <th class="py-3 px-10 border">Typologie</th>
                    <th class="py-3 px-10 border">Infra prévisionnel</th>
                    <th class="py-3 px-10 border">Potentiel Cohab</th>
                    <th class="py-3 px-20 border">Scope</th>

                    <ng-container *ngIf="isRadioVisible">
                        <th class="py-3 px-12 border">Configuration radio</th>
                        <th class="py-3 px-12 border">Antenne radio</th>
                        <th class="py-3 px-4 border">HBA</th>
                        <th class="py-3 px-6 border">Azimut NM</th>
                        <th class="py-3 px-20 border">RRU 900/800</th>
                        <th class="py-3 px-20 border">RRU 1800/2100</th>
                        <th class="py-3 px-20 border">RRU 2600</th>
                        <th class="py-3 px-20 border">RBS Existant</th>
                        <th class="py-3 px-20 border">Action RBS</th>
                        <th class="py-3 px-8 border">Nombre Mat</th>
                        <th class="py-3 px-8 border">Nombre Puissance</th>
                        <th class="py-3 px-20 border">Action / Commentaire RADIO</th>
                    </ng-container>

                    <ng-container *ngIf="isTransVisible">
                        <th class="py-3 px-10 border">Design Trans</th>
                        <th class="py-3 px-12 border">Config Trans</th>
                        <th class="py-3 px-4 border">Frequence</th>
                        <th class="py-3 px-4 border">Dimension Ant. Trans</th>
                        <th class="py-3 px-4 border">Azimut Site Main</th>
                        <th class="py-3 px-6 border">HMA Site Main</th>
                        <th class="py-3 px-8 border">Code Facing</th>
                        <th class="py-3 px-8 border">Nom Facing</th>
                        <th class="py-3 px-7 border">AZIMUT Site Facing</th>
                        <th class="py-3 px-7 border">HMA Site Facing</th>
                        <th class="py-3 px-7 border">Elevation VSAT</th>
                        <th class="py-3 px-7 border">Azimut VSAT</th>
                        <th class="py-3 px-7 border">Puissance Trans [W]</th>
                        <th class="py-3 px-20 border">Action / Commentaire TRANS</th>
                    </ng-container>

                    <ng-container *ngIf="isEnergieVisible">
                        <th class="py-3 px-10 border">Disjoncteur Trans</th>
                        <th class="py-3 px-10 border">Disjoncteur Tete DC</th>
                        <th class="py-3 px-10 border">Disjoncteur Tete DC - TRANS</th>
                        <th class="py-3 px-10 border">NRJ Après Projet [W DC]</th>
                        <th class="py-3 px-20 border">Action / Commentaire NRJ</th>
                    </ng-container>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let info of filteredData" class="bg-gray-50 text-gray-800">
                    <td class="py-3 px-6 border">{{info.type_projet}}</td>
                    <td class="py-3 px-6 border">{{info.phase_toa}}</td>
                    <td class="py-3 px-6 border">{{info.phase_yas}}</td>
                    <td class="py-3 px-8 border">{{info.date}}</td>
                    <td class="py-3 px-4 border">{{info.version}}</td>
                    <td class="py-3 px-4 border">{{info.region}}</td>
                    <td class="fixed-td py-3 px-8 border">{{info.code_site}}</td>
                    <td class="py-3 px-12 border">{{info.nom_site}}</td>
                    <td class="py-3 px-4 border" (dblclick)="openPopup(info, 'information_site', 'Demandeur','select')">
                        {{info.demandeur}}
                      </td>
                      <td class="py-3 px-8 border" (dblclick)="openPopup(info, 'information_site', 'longitude','text')">
                        {{info.longitude}}
                      </td>
                    <td class="py-3 px-8 border">{{info.latitude}}</td>
                    <td class="py-3 px-8 border">{{info.priorite}}</td>
                    <td class="py-3 px-8 border">{{info.zone}}</td>
                    <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'typologie')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-typologie'] || 'Survolez pour voir l\'historique'">{{ info.typologie }}</td>
                    <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'infra_prev')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-infra_prev'] || 'Survolez pour voir l\'historique'">{{info.infra_prev}}</td>
                    <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'potentiel_cohab')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-potentiel_cohab'] || 'Survolez pour voir l\'historique'">{{info.potentiel_cohab}}</td>
                    <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'Scope')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-Scope'] || 'Survolez pour voir l\'historique'">{{info.Scope}}</td>

                    <ng-container *ngIf="isRadioVisible">
                        <td class="py-3 px-12 border" (mouseover)="showHistorique(info.date, info.code_site, 'config_radio')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-config_radio'] || 'Survolez pour voir l\'historique'">{{info.config_radio}}</td>
                        <td class="py-3 px-12 border" (mouseover)="showHistorique(info.date, info.code_site, 'antenne_radio')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-antenne_radio'] || 'Survolez pour voir l\'historique'">{{info.antenne_radio}}</td>
                        <td class="py-3 px-4 border" (mouseover)="showHistorique(info.date, info.code_site, 'hba')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-hba'] || 'Survolez pour voir l\'historique'">{{info.hba}}</td>
                        <td class="py-3 px-6 border" (mouseover)="showHistorique(info.date, info.code_site, 'azimut_nm')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-azimut_nm'] || 'Survolez pour voir l\'historique'">{{info.azimut_nm}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'rru900_800')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-rru900_800'] || 'Survolez pour voir l\'historique'">{{info.rru900_800}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'rru1800')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-rru1800'] || 'Survolez pour voir l\'historique'">{{info.rru1800}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'rru2600')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-rru2600'] || 'Survolez pour voir l\'historique'">{{info.rru2600}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'rbs_existant')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-rbs_existant'] || 'Survolez pour voir l\'historique'">{{info.rbs_existant}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'action_rbs')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-action_rbs'] || 'Survolez pour voir l\'historique'">{{info.action_rbs}}</td>
                        <td class="py-3 px-8 border" (mouseover)="showHistorique(info.date, info.code_site, 'nombre_mat')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-nombre_mat'] || 'Survolez pour voir l\'historique'">{{info.nombre_mat}}</td>
                        <td class="py-3 px-8 border" (mouseover)="showHistorique(info.date, info.code_site, 'puissance_radio')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-puissance_radio'] || 'Survolez pour voir l\'historique'">{{info.puissance_radio}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'commentaire_radio')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-commentaire_radio'] || 'Survolez pour voir l\'historique'">{{info.commentaire_radio}}</td>
                    </ng-container>
                    
                    <ng-container *ngIf="isTransVisible">
                        <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'design_trans')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-design_trans'] || 'Survolez pour voir l\'historique'">{{info.design_trans}}</td>
                        <td class="py-3 px-12 border" (mouseover)="showHistorique(info.date, info.code_site, 'config_trans')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-config_trans'] || 'Survolez pour voir l\'historique'">{{info.config_trans}}</td>
                        <td class="py-3 px-4 border" (mouseover)="showHistorique(info.date, info.code_site, 'frequence')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-frequence'] || 'Survolez pour voir l\'historique'">{{info.frequence}}</td>
                        <td class="py-3 px-4 border" (mouseover)="showHistorique(info.date, info.code_site, 'dimension_ant_trans')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-dimension_ant_trans'] || 'Survolez pour voir l\'historique'">{{info.dimension_ant_trans}}</td>
                        <td class="py-3 px-4 border" (mouseover)="showHistorique(info.date, info.code_site, 'azimut_site_main')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-azimut_site_main'] || 'Survolez pour voir l\'historique'">{{info.azimut_site_main}}</td>
                        <td class="py-3 px-6 border" (mouseover)="showHistorique(info.date, info.code_site, 'hma_site_main')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-hma_site_main'] || 'Survolez pour voir l\'historique'">{{info.hma_site_main}}</td>
                        <td class="py-3 px-8 border" (mouseover)="showHistorique(info.date, info.code_site, 'code_facing')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-code_facing'] || 'Survolez pour voir l\'historique'">{{info.code_facing}}</td>
                        <td class="py-3 px-8 border" (mouseover)="showHistorique(info.date, info.code_site, 'nom_facing')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-nom_facing'] || 'Survolez pour voir l\'historique'">{{info.nom_facing}}</td>
                        <td class="py-3 px-7 border" (mouseover)="showHistorique(info.date, info.code_site, 'azimut_site_facing')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-azimut_site_facing'] || 'Survolez pour voir l\'historique'">{{info.azimut_site_facing}}</td>
                        <td class="py-3 px-7 border" (mouseover)="showHistorique(info.date, info.code_site, 'hma_site_facing')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-hma_site_facing'] || 'Survolez pour voir l\'historique'">{{info.hma_site_facing}}</td>
                        <td class="py-3 px-7 border" (mouseover)="showHistorique(info.date, info.code_site, 'elevation_vsat')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-elevation_vsat'] || 'Survolez pour voir l\'historique'">{{info.elevation_vsat}}</td>
                        <td class="py-3 px-7 border" (mouseover)="showHistorique(info.date, info.code_site, 'azimut_vsat')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-azimut_vsat'] || 'Survolez pour voir l\'historique'">{{info.azimut_vsat}}</td>
                        <td class="py-3 px-7 border" (mouseover)="showHistorique(info.date, info.code_site, 'puissance_trans')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-puissance_trans'] || 'Survolez pour voir l\'historique'">{{info.puissance_trans}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'commentaire_trans')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-commentaire_trans'] || 'Survolez pour voir l\'historique'">{{info.commentaire_trans}}</td>
                    </ng-container>
                    
                    <ng-container *ngIf="isEnergieVisible">
                        <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'disjoncteur_trans')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-disjoncteur_trans'] || 'Survolez pour voir l\'historique'">{{info.disjoncteur_trans}}</td>
                        <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'disjoncteur_tete_dc')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-disjoncteur_tete_dc'] || 'Survolez pour voir l\'historique'">{{info.disjoncteur_tete_dc}}</td>
                        <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'disjoncteur_tete_dc_trans')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-disjoncteur_tete_dc_trans'] || 'Survolez pour voir l\'historique'">{{info.disjoncteur_tete_dc_trans}}</td>
                        <td class="py-3 px-10 border" (mouseover)="showHistorique(info.date, info.code_site, 'nrj_after_project')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-nrj_after_project'] || 'Survolez pour voir l\'historique'">{{info.nrj_after_project}}</td>
                        <td class="py-3 px-20 border" (mouseover)="showHistorique(info.date, info.code_site, 'commentaire_energie')" [title]="historiqueTooltips[info.date + '-' + info.code_site + '-commentaire_energie'] || 'Survolez pour voir l\'historique'">{{info.commentaire_energie}}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" 
                [disabled]="currentPage === 1" 
                class="pagination-button">
            « Précédent
        </button>
    
        <span class="pagination-info">
            <strong>{{ currentPage }}</strong> / <strong>{{ totalPages }}</strong>
        </span>
    
        <button (click)="changePage(currentPage + 1)" 
                [disabled]="currentPage === totalPages" 
                class="pagination-button">
            Suivant »
        </button>
    </div>

    <div *ngIf="isPopupVisible" id="edit-popup" class="fixed inset-0 bg-white-300 bg-opacity-50 flex justify-center items-center z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg w-full sm:w-96">
          <h2 id="popup-title" class="text-2xl font-semibold text-center mb-4">Modifier le champ</h2>
      
          <div *ngIf="currentBaseSelect && currentOptions.length > 0" class="mb-4">
            <select id="edit-select" [(ngModel)]="currentInputValue" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option *ngFor="let option of currentOptions" [value]="option.nom">
                  {{ option.nom }}
                </option>
              </select>
          </div>
      
          <div *ngIf="isValueInput" class="mb-4">
            <input type="text" id="edit-input" [(ngModel)]="currentInputValue" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
          </div>
      
          <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2">
            {{ errorMessage }}
          </div>
      
          <div class="popup-actions flex justify-between mt-4">
            <button (click)="closePopup()" class="bg-gray-400 text-white py-2 px-4 rounded-lg hover:bg-gray-500 transition">Fermer</button>
            <button (click)="saveChanges()" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition">Sauvegarder</button>
          </div>
        </div>
      </div>
      
</div>